<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math for Rita</title>
</head>
<body>
    <h1> Simple Addiction and Subtraction Exercise</h1>
    <form action="submit" method="POST">
        <div>
    <label name="q1">1. <%= randomNum1 %> + <% = randomNum2 %>  </label>
    <input type="number" for="q1">
</div>
<div>
    <label name="q2">2. <%= randomNum3 %> + <% = randomNum4 %>  </label>
    <input type="number" for="q2">
</div>

<input type="submit" value="OK" >
    </form>
    
</body>
</html>